body {
}

.titulo-principal{padding-left: 20px;}
#baner {
  width: 100%;
}


.principal {
  background-color: #cccccc;
  padding: 30px;
}

.titulo-centralizado {
  text-align: center;
}
p {
  text-align: center;
}

#missao {
  font-size: 20px;
}
em strong {
  color: RED;
}

.beneficios {
  background-color: white;
  padding: 20px;
}

.itens {
  font-style: italic;
}


ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right:  15%;
}

.imagembeneficios {
  width: 50%;
}
