.titulo-centralizado {
  text-align: center;
}

header {
  background-color: #bbbbbb;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: chocolate;
  text-decoration: underline;
}

#baner {
  width: 100%;
}
.principal {
  background-color: #cccccc;
}
.titulo-principal {
  padding-left: 20px;
}
p {
  text-align: center;
}
#missao {
  font-size: 20px;
}
em strong {
  color: red;
}

.itens {
  font-style: italic;
}
.beneficios {
  background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 20%;
  position: relative;
  margin: 0 auto;
}

/* .beneficios li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 20%;
} */

.imagembeneficios {
  width: 50%;
}

footer {
  text-align: center;
  background: url(bg.jpg);
  padding: 20px;
}

.copyright {
  color: white;
  font-size: 13px;
  margin: 20px;
}
